---
layout: default
title: Brian Willis
---
    {% for post in site.posts limit: 5 %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <h2 itemprop="name"><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}" title="{{ post.title | xml_escape }}">{{ post.title }}</a></h2>
        <meta itemprop="wordCount" content="{{ post.content | number_of_words }}"/>
        <time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}">
        {% assign day = post.date | date: '%d' %}
        {% case day %}
            {% when '01', '21', '31' %}
                {% assign suffix = 'st' %}
            {% when '02', '22' %}
                {% assign suffix = 'nd' %}
            {% when '03', '23' %}
                {% assign suffix = 'rd' %}
            {% else %}
                {% assign suffix = 'th' %}
        {% endcase %}
        {{ post.date | date: '%e' }}{{ suffix }}{{ post.date | date: ' %B %Y' }}
        </time><div itemprop="articleBody">{{ post.content }}</div>
    </article>{% endfor %}


