* {
    background-color: #1C1C1C;
    -webkit-text-size-adjust: 100%;
}

#container {
    position: relative;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: relative;
    margin-top: 120px;
}

#sitename {
    position: relative;
    left: 0px;
    width: 345px;
}

#menu {
    position: absolute;
    bottom: 11px;
    right: 0px;
    width: 345px;
}
    
#footer{
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
}

img {
    width: 100%;
    height: 100%;
    max-width: 700px;
}

.postcontent {
    margin-top: 70px;
    margin-bottom: 0px;
}

.postcontent + .postcontent {
    margin-top: 120px;    
}

.byline {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1em;
    color: #999999;
    margin-top: 0px;
    margin-bottom: 0px;
}

.copyright {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1em;
    color: #999999;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 3.75em;
    color: #CCCCCC;
    margin-top: 0;
    margin-bottom: 0;
}

#menu ul {
    list-style: none;
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline-block;
}

#menu li + li {
    padding-left: 10px;
}

h2 {
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 2.25em;
    color: #CCCCCC;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: #CCCCCC;
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
}

a:hover {
    color: #FFFFFF;
}

p {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 175%;
    color: #AAAAAA;
}

p strong {
    font-weight: 700;
}

p a:link {
    border-bottom: 1px dotted #CCCCCC;
}

p a:hover {
    border-bottom: 1px dotted #FFFFFF;
}

@media screen and (max-width: 715px) {
    #container {
        width: auto;
    }
    
    #header {
        margin-top: 70px;
    }
    
    #sitename {
        width: 100%;
    }
    
    #menu {
        position: relative;
        margin-top: 20px;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }
    
    h1 {
        font-size: 3.25em;
        text-align: center;
    }
    
    #menu ul {
        text-align: center;
    }
    
    h2 {
        font-size: 2em;
        text-align: center;
    }
    
    .byline {
        text-align: center;
    }
}
