* {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px;
    background-color: #1C1C1C;
}

header {
    position: relative;
    margin: 120px auto 20px auto;
    width: 700px;
}

h1 {
    position: relative;
    left: 0px;
    width: 345px;
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 3.25em;
    color: #DDDDDD;
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    position: absolute;
    bottom: 8px;
    right: 0px;
    width: 345px;
}

nav ul {
    list-style: none;
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

nav li {
    position: relative;
    display: inline-block;
}

nav li + li {
    padding-left: 10px;
}

article {
    margin-top: 120px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
/*
article + article {
    margin-top: 120px;    
}*/

h2 {
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 2.25em;
    color: #DDDDDD;
    margin-top: 0px;
    margin-bottom: 0px;
}

time, .time {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1rem;
    color: #999999;
    margin-bottom: 0px;
}

time {
    display: block;
}

.footnotes {
    margin-top: 40px;
}

.footnotes ol, .footnotes p {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1em;
    color: #AAAAAA;
}

h3 {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #DDDDDD;
    margin-top: 30px;
    margin-bottom: 7px;
}

h3 + p {
    margin-top: 0px;
}

a {
    color: #DDDDDD;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
}

p {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 175%;
    color: #AAAAAA;
}

p strong {
    font-weight: 500;
}

p sup {
    line-height: 0;
    font-size: 0.75em;
}

p a:link {
    border-bottom: 1px dotted #DDDDDD;
}

p a:hover {
    border-bottom: 1px dotted #FFFFFF;
}

ol {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1.25em;
    color: #AAAAAA;
}

ol p {
    font-size: 1em;
}

img {
    width: 100%;
    height: 100%;
    max-width: 700px;
}

pre {
    background-color: #303030;
    padding-left: 5px;
    overflow: auto;
}

code {
    background-color: #303030;
    font-family: "Courier New", Sans-Serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #AAAAAA;
}

blockquote {
    color: #AAAAAA;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: #AAAAAA;
}

footer{
    position: relative;
    margin: 70px auto 70px auto;
    width: 700px;  
}

#copyright {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1em;
    color: #999999;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 715px) {    
    header {
        margin-top: 70px;
        width: auto;
    }
    
    header nav {
        position: relative;
        margin-top: 20px;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }
    article {
        width: auto;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    footer {
        width: auto;
    }
    
    h1 {
        width: 100%;
        text-align: center;
    }
    
    nav ul {
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    time {
        text-align: center;
    }
}