* {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px;
    background-color: #1C1C1C;
}

header {
    position: relative;
    margin: 120px auto 20px auto;
	width: 700px;
}

h1 {
    position: relative;
    left: 0px;
    width: 345px;
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 3.75em;
    color: #CCCCCC;
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    position: absolute;
    bottom: 11px;
    right: 0px;
    width: 345px;
}

nav ul {
    list-style: none;
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

nav li {
	position: relative;
    display: inline-block;
}

nav li + li {
    padding-left: 10px;
}

#triangle {
	position: absolute;
	top: 56px;
	left: 12px;
	width: 36px;
	height: 21px;
	opacity: 0;
}

#aboutBox {
	margin: 0px 0px 0px 0px;
	width: 100%;
	background-image: url('/images/squairy_light.png');
	background-size: 200px 200px;
	overflow: hidden;
	display: none;
}

#aboutText {
	margin: 20px auto 20px auto;
    width: 700px;
    background-color: inherit;
}

#aboutText p {
    background-color: inherit;
	color: #1C1C1C;
}

#aboutText a {
	color: #1C1C1C;	
    border-bottom: 1px dotted #1C1C1C;
}

#aboutText .aboutBoxButton a {
	background-color: #1C1C1C;
	color: #CCCCCC;
	font-size: 0.9em;
	border-radius: 5px;
	padding: 3px 6px 3px 6px;
}

#aboutText .aboutBoxButton a:hover {
	color: #FFFFFF;
}

article {
    margin-top: 70px;
    margin-bottom: 0px;
	margin-left: auto;
    margin-right: auto;
    width: 700px;
}

article + article {
    margin-top: 120px;    
}

h2 {
    font-family: Museo-slab, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 2.25em;
    color: #CCCCCC;
    margin-top: 0px;
    margin-bottom: 0px;
}

time {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1em;
    color: #999999;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

.footnotes {
    margin-top: 40px;
}

.footnotes ol, .footnotes p {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1em;
    color: #AAAAAA;
}

a {
    color: #CCCCCC;
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
}

a:hover {
    color: #FFFFFF;
}

p {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 175%;
    color: #AAAAAA;
}

p strong {
    font-weight: 700;
}

p sup {
    line-height: 0;
    font-size: 0.75em;
}

p a:link {
    border-bottom: 1px dotted #CCCCCC;
}

p a:hover {
    border-bottom: 1px dotted #FFFFFF;
}

img {
    width: 100%;
    height: 100%;
    max-width: 700px;
}

pre {
    background-color: #303030;
    padding-left: 5px;
    overflow: auto;
}

code {
	background-color: #303030;
    font-family: "Courier New", Sans-Serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #AAAAAA;
}

footer{
    position: relative;
    margin: 70px auto 70px auto;
    width: 700px;  
}

.copyright {
    font-family: Museo-sans, Helvetica, Verdana, Arial, Sans-Serif;
    font-weight: 300;
    font-size: 1em;
    color: #999999;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 715px) {    
    header {
        margin-top: 70px;
        width: auto;
    }
    
    header nav {
        position: relative;
        margin-top: 20px;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }
        
    #aboutBox {
    	width: auto;
    }

    #aboutText {
    	width: auto;
    	margin-left: 8px;
    	margin-right: 8px;
    }
    
    article {
    	width: auto;
		margin-left: 8px;
    	margin-right: 8px;
    }
    
    footer {
    	width: auto;
	}
    
    h1 {
    	width: 100%;
        font-size: 3.25em;
        text-align: center;
    }
    
	nav ul {
        text-align: center;
    }
    
    h2 {
        font-size: 2em;
        text-align: center;
    }
    
    time {
        text-align: center;
    }
}

/*Swap out the About panel background for high-res artwork on retina displays*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	#aboutBox {
		background-image: url('/images/squairy_light@2X.png');
	}
}
