<!DOCTYPE html>

<!-- Found a problem? Send me an email: brian@brianwillis.com -->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheet.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png" />
    <link rel="alternate" href="http://feeds.feedburner.com/brianwillis"  title="Brian Willis" type="application/atom+xml" />
    
    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20557873-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <!-- TypeKit -->
    <script type="text/javascript" src="http://use.typekit.com/uuo8wsn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <!-- Modernizr -->
    <script type="text/javascript" src="/scripts/modernizr.custom.19188.js"></script>
</head>

<body>
    <header>
        <h1><a href="/">Brian Willis</a></h1>
        <nav>
            <ul>
                <li><a id="aboutLink" href="/about.html" title="About me and the site">About</a><img id="triangle" src="/images/triangle.png"/></li>
                <li><a href="/archive.html" title="A list of older posts">Archive</a></li>
                <li><a href="http://feeds.feedburner.com/brianwillis" title="Subscribe to the feed">Subscribe</a></li>
            </ul>
        </nav>
    </header>
    <div id="aboutBox">
        <div id="aboutText">
            {{ site.aboutText }}
            <p class="aboutBoxButton"><a id="closeAboutBox" href="#" title="Close the about box"><i class="fa fa-chevron-up"></i> close</a></p>
        </div>
    </div>
{{ content }}
    <footer>
        <p class="copyright">Copyright &copy; 2011 - 2013 Brian Willis.</p>
    </footer>
    
    <!-- Retina.js -->
    <script type="text/javascript" src="/scripts/retina.js"></script>
    
    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    
    <!-- Slide open animation for the About link -->
    <script>
        var aboutBoxVisible = false;
        
        $(document).ready(function() {
            if (Modernizr.opacity && Modernizr.csstransitions) {
                $("#aboutLink").prop("href", "#");
                $("#triangle").css("display", "block");
            }
        });

        $(window).resize(function() {
            $("#triangle").css("-webkit-transition", "top 0s");
            $("#triangle").css("-moz-transition", "top 0s");
            $("#triangle").css("-o-transition", "top 0s");
            $("#triangle").css("transition", "top 0s");

            $("#triangle").css("top", getTriangleTop());
        });

        $("#aboutLink").click(function() {
            toggleAboutBox();
        });
        
        $("#closeAboutBox").click(function() {
            toggleAboutBox();
        });
        
        function toggleAboutBox() {
            if (!aboutBoxVisible) {
                showAboutBox();
            }
            else {
                hideAboutBox();    
            }
        }
      
        function showAboutBox() {
            aboutBoxVisible = true;
        
            $("#aboutBox").slideDown("slow");
            
            $("#triangle").css("-webkit-transition", "top 0.5s ease-in-out 0.1s, opacity 0s ease-in-out 0.1s");
            $("#triangle").css("-moz-transition", "top 0.5s ease-in-out 0.1s, opacity 0s ease-in-out 0.1s");
            $("#triangle").css("-o-transition", "top 0.5s ease-in-out 0.1s, opacity 0s ease-in-out 0.1s");
            $("#triangle").css("transition", "top 0.5s ease-in-out 0.1s, opacity 0s ease-in-out 0.1s");

            $("#triangle").css("top", getTriangleTop());
            $("#triangle").css("opacity", "1");
        }
        
        function hideAboutBox() {
            aboutBoxVisible = false;

            $("#aboutBox").slideUp("slow");
            
            $("#triangle").css("-webkit-transition", "top 0.5s ease-in-out 0s, opacity 0s ease-in-out 0.5s");
            $("#triangle").css("-moz-transition", "top 0.5s ease-in-out 0s, opacity 0s ease-in-out 0.5s");
            $("#triangle").css("-o-transition", "top 0.5s ease-in-out 0s, opacity 0s ease-in-out 0.5s");
            $("#triangle").css("transition", "top 0.5s ease-in-out 0s, opacity 0s ease-in-out 0.5s");
            
            $("#triangle").css("top", getTriangleTop());
            $("#triangle").css("opacity", "0");
        }
        
        function getTriangleTop() {
            if ($(window).width() > 715) {
                if (aboutBoxVisible) {
                    return "36px";
                }
                else {
                    return "56px";
                }
            }
            else {
                if (aboutBoxVisible) {
                    return "28px";
                }
                else {
                    return "48px";
                }
            }
        }
    </script>
</body>
</html>
