<!DOCTYPE html>

<!-- Found a problem? Send me an email: brian@brianwillis.com -->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheet.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png" />
    <link rel="alternate" href="http://feeds.feedburner.com/brianwillis"  title="Brian Willis" type="application/atom+xml" />
    
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-20557873-1', 'brianwillis.com');
        ga('send', 'pageview');
    </script>

    <!-- TypeKit -->
    <script type="text/javascript" src="http://use.typekit.com/uuo8wsn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
    <header>
        <h1><a href="/">Brian Willis</a></h1>
        <nav>
            <ul>
                <li><a id="aboutLink" href="/about.html" title="About me and the site">About</a></li>
                <li><a href="/archive.html" title="A list of older posts">Archive</a></li>
                <li><a href="http://feeds.feedburner.com/brianwillis" title="Subscribe to the feed">Subscribe</a></li>
            </ul>
        </nav>
    </header>
    <div id="aboutBox">
        <div id="aboutText">
            {{ site.aboutText }}
        </div>
    </div>
{{ content }}
    <footer>
        <p id="copyright">Copyright &copy; 2011 - 2013 Brian Willis.</p>
    </footer>
    
    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    
    <!-- Slide open animation for the About link -->
    <script>
        $(document).ready(function() {
            // We don't use the aboutBox with browsers that have JavaScript turned off.
            $("#aboutLink").prop("href", "#");
            
            // Firefox won't cache image assets that are hidden until they are displayed.
            // Here we're forcing the browser to cache the images in advance so that everything looks right.
            if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
                var aboutBoxBackground = new Image();
                if (window.devicePixelRatio > 1) {
                    aboutBoxBackground.src = "/images/squairy_light@2X.png";
                } else {
                    aboutBoxBackground.src = "/images/squairy_light.png";
                }
            }
        });

        $("#aboutLink").click(function() {
            $("#aboutBox").slideToggle();
        });
    </script>
</body>
</html>
