---
layout: default
---
        <article>
            <h2>{{ page.title }}</h2>
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
            {% assign day = page.date | date: '%d' %}
            {% case day %}
                {% when '01', '21', '31' %}
                    {% assign suffix = 'st' %}
                {% when '02', '22' %}
                    {% assign suffix = 'nd' %}
                {% when '03', '23' %}
                    {% assign suffix = 'rd' %}
                {% else %}
                    {% assign suffix = 'th' %}
            {% endcase %}
            {{ page.date | date: '%e' }}{{ suffix }}{{ page.date | date: ' %B %Y' }}
            </time>{{ content }}
        </article>
