---
layout: default
---
        <div class="postcontent">
            <h2>{{ page.title }}</h2>
            <p class="byline">
            {% assign day = page.date | date: '%d' %}
            {% case day %}
                {% when '01', '21', '31' %}
                    {% assign suffix = 'st' %}
                {% when '02', '22' %}
                    {% assign suffix = 'nd' %}
                {% when '03', '23' %}
                    {% assign suffix = 'rd' %}
                {% else %}
                    {% assign suffix = 'th' %}
            {% endcase %}
            {{ page.date | date: '%e' }}{{ suffix }}{{ page.date | date: ' %B %Y' }}
            </p>{{ content }}
        </div>
